body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.leftpane {
    width: 30%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.middlepane {
    width: 45%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.rightpane {
  width: 25%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
}

.toppane {
  width: 100%;
  height: 70px;
  border-collapse: collapse;
}

#register-login table {
	margin: auto;
	border: 1px solid gray;
	border-collapse: collapse;
	background: lightcyan;
	float:right
}

#left-pane table {
	border: 1px solid gray;
	border-collapse: collapse;
	background: lightcyan;	
}

#venues {
	place-items: center;
}

#menu, #userMenu {
	float: right;
}

#menu a, #userMenu a, #userMenu input, input.submit { 
    background: powderblue;
    border:1px solid steelblue;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    color:#333;
    padding:.3em .5em;
    margin: .5em .5em;
    text-decoration:none;
    cursor: pointer;
    font-weight: bold;
}

#profile_table input.confirm { 
    background: lightgreen;
    border:1px solid forestgreen;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    color:#333;
    padding:.3em .5em;
    text-decoration:none;
    cursor: pointer;
    font-weight: bold;
}

#profile_table input.cancel{
    background: lightcoral;
    border:1px solid indianred;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    color:#333;
    padding:.3em .5em;
    text-decoration:none;
    cursor: pointer;
    font-weight: bold;
}

#userMenu label {
	display: inline-block;
	font-weight: bold;
	margin: .5em .5em;
	max-width: 140px;
	word-wrap: break-word;
	background: powderblue;
    border:1px solid steelblue;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    color:#333;
    padding:.3em .5em;
    cursor: pointer;
}

table.venues_table, table.users_table, .venue_trainings {
	border-collapse: collapse;
}

.venues_table th, .users_table th, .venue_trainings th {
	background: powderblue;
}

.venues_table th, .venues_table td, .users_table th, .users_table td, .venue_trainings th, .venue_trainings td {
	border: 1px solid;
	padding: 5px;
}

.venues_table tr:hover, .users_table tr:hover {
	background: aliceblue;
}

.map {
    height: 100%;
    width: 100%;
}

#searchParagraph {
	text-align: right;
}

#error {
	color: red;
}

#success {
	color: green;	
}