#venues {
	display: grid;
	place-items: center;
}

table {
	border-collapse: collapse;
}

th {
	background: lightgray;
}

th, td {
	border: 1px solid;
	padding: 5px;
}

#searchParagraph {
	text-align: right;
}

#error {
	color: red;
}

#success {
	color: green;	
}